# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
.last_tmp.py
dist
build

# My configurations:
db.ini
deploy_key_rs

# Git Bash
.idlerc
.bash_history
.viminfo
.gitconfig